<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.PlaceMapper">

	<select id="selectPlace" parameterType="string" resultType="place">
		select p.*
		from big_group bg, group_detail gd, place_grouping pg, place p
		where
		bg.big_GROUP_NO = gd.big_GROUP_NO 
		and	gd.GROUP_DETAIL_NO = pg.GROUP_DETAIL_NO 
		and pg.PLACE_NO = p.PLACE_NO 
		and	gd.GROUP_DETAIL_NAME = #{groupDetail}
	</select>
	
	<select id="selectPlaceSearchByPlaceName" parameterType="String" resultType="place">
		select * from place where place_name like '%' || #{placeName} ||'%' and place_cert = 1
	</select>
	

	<select id="selectPlaceAll" resultType="place">
		select *
		from place
	</select>
	
	<select id="selectCertFalsePlace" resultType="place">
		select *
		from place
		where place_cert=0
	</select>

	<select id="selectCertFalsePlaceByMemberId" resultType="place" parameterType="string">
		select p.*
		from place p, member m 
		where p.member_id=m.member_id and 
		p.place_cert=0 and 
		m.member_id=#{memberId}
		
	</select>


	<select id="selectImageUrl" parameterType="int" resultType="string">
		select i.IMAGE_URL_URL from IMAGE_URL i
		where i.PLACE_NO = #{placeNo}
	</select>
	<select id="selectImageFileUrl" parameterType="int" resultType="string">
		select i.IMAGE_URL_File from IMAGE_URL i
		where i.PLACE_NO = #{placeNo}
	</select>
	
	<select id="selectPlaceByNo" parameterType="int" resultType="place">
		select * from place where place_no = #{placeNo}
	</select>
	
	
	<insert id="applyLike" parameterType="hashmap">
		insert into
		place_like
		values(place_like_seq.nextval,
		#{placeNo},
		#{memberId})
	</insert>
	<update id="updatePlaceCertTrue" parameterType="int">
		update place set 
		Place_Cert=1
		where place_no=#{PlaceNo}
		
	</update>
	<update id="updatePlaceCertFalse" parameterType="int">
		update place set 
		Place_Cert=0
		where place_no=#{PlaceNo}
		
	</update>

	<select id="selectLike" parameterType="hashmap" resultType="int">
		select count(*) from place_like
		where place_no = #{placeNo}
		<if test="memberId != null">
			and member_id = #{memberId}
		</if>
	</select>
	<select id="selectPlaceLikeCountByPlaceNo" parameterType="int" resultType="int">
		select count(*) from 
		place_like pl, place p  
		where 
		p.place_no =#{placeNo} and 
		p.place_no=pl.place_no

	</select>
	
	<update id="updatePlace" parameterType="place">
		update place set 
		place_address = #{placeAddress},
		place_phone = #{placePhone},
		place_position_x = #{placePositionX},
		place_position_y = #{placePositionY},
		place_comment = #{placeComment},
		place_cert = #{placeCert}
		where place_no=#{placeNo}
		
	</update>
	

	<insert id="insertPlace" parameterType="place">
		insert into
		place
		values(place_seq.nextval,
		#{placeName},
		#{placeAddress},
		#{placePhone},
		#{placePositionX},
		#{placePositionY},
		#{placeComment},
		#{placeCert},
		#{memberId})
	</insert>
	
	<insert id="insertGroupPlace" parameterType="hashmap">
		insert into
		place_grouping
		values (place_grouping_seq.nextval,
		#{placeNo},
		#{groupDetailNo})
	</insert>

	<select id="selectNoByPlaceName" parameterType="string" resultType="int">
		select place_no
		from place
		where place_name=#{placeName}
	</select>
	<select id="selectPlaceByName" parameterType="string" resultType="place">
		select *
		from place
		where place_name=#{placeName}
	</select>
	
	<select id="selectDetailNo" parameterType="hashmap" resultType="int">
		select group_detail_no
		from group_detail
		where
		group_detail_name=#{groupDetailName}
	</select>


	<select id="selectDetailNoFromGrouping" parameterType="hashmap"
		resultType="int">
		select count(*)
		from place_grouping
		where place_no = #{placeNo}
		and group_detail_no = #{detailNo}
	</select>
	
	
	
	<delete id="deleteGroupDetailByPlaceNo" parameterType="int">
		delete from place_grouping where place_no=#{placeNo}
	</delete>
	
	<update id="updatePlaceByPlace" parameterType="place">
		update place set 
		place_phone=#{placePhone}, 
		place_comment=#{placeComment} 
		where place_no=#{placeNo} 
	</update>
	
	
	

</mapper>
