@CHARSET "UTF-8";

.board_main {
	width: 900px;
	display: inline;
	text-align: center;
}

#main_table {
	text-align: center;
	margin: 20px;
	

}

tr, th {
	font-size: 11px;
	text-align: center;
}

#bdtitle {
	width: 400px;
	text-align: left;
}
