@CHARSET "UTF-8";
h2{
	display: block;
	text-align: center;
	
}
.placeclass{
	
	display : inline-block;
	width: 300px;
	height: 300px;
	margin: 20px;
	
}
.placeinfo{
	
	text-align: center;
}
#place_main{
	
	margin-left: 20px;
	text-align: center;
	width: 1190px;
	
}